@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

#about-container{
    margin-top:8%;
}

.box-shadow{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#article-container{
    margin-top:8%;
}

#contact-container{
    margin-top:8%;
    margin-bottom:8%; 
}

#article-container:hover{
    border: 4px solid #e68210;

}

#name-holder{
    margin-top:12%;
}

#info-holder{
    margin-top:5%;
}

#nav-holder{
    width: 60px;
    left: 85%;
    padding-top:5%;
}

#article-holder{
    margin-top:8%;
    margin-bottom:1%;
}

#contact-holder{
    margin-top:8%;
    margin-bottom:8%;
}

.contact-head{
    margin-bottom:5%;
}

a{
    text-decoration:underline;
    color: #000;
}

a:hover{
    color: #e68210;
}

h1{
    font-family: 'Caveat Brush', cursive;
    font-family: 'Ranchers', cursive;
    font-size: 60px;
    /* font-family: 'Lobster', cursive; */
}

h2{
    /* font-family: 'Caveat Brush', cursive; */
    font-family: 'Ranchers', cursive;
    font-size: 40px;
    /* font-family: 'Lobster', cursive; */
}

h4{
    /* font-family: 'Caveat Brush', cursive; */
    font-family: 'Ranchers', cursive;
    font-size: 28px;
    line-height: 56px;
    /* font-family: 'Lobster', cursive; */
}

h5{
    /* font-family: 'Caveat Brush', cursive; */
    font-family: 'Ranchers', cursive;
    font-size: 20px;
    line-height: 36px;
    /* font-family: 'Lobster', cursive; */
}

body{
    background-image: url("../images/background.png");        
}

li{
    list-style: none;
    padding-left:85%;    
    line-height: 50px;
    font-family: 'Ranchers', cursive;
    font-size:28px;
}
li:hover{
    font-size: 1.5em;
    color: #e68210;
    cursor: pointer;
}
